.background{
    -fx-background-color: linear-gradient(to bottom, #ba6d7c, #844558);
}

.leftMenu{
    -fx-background-color:  #14d0ad;
    -fx-background-radius: 0 40 0 0;
    -fx-alignment: left;
}

.leftMenu .button{
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.leftMenu .label{
    -fx-padding: 0 25;
    -fx-text-fill: #14d0ad;
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-alignment: left;
}

.statisticsBox{
    -fx-background-color: white;
    -fx-effect: innershadow(gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5);

}

.menu-bar{
    -fx-background-color: #14d0ad;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(three-pass-box, rgba( 0, 0, 0, 0.5 ), 5, 0, 0, 2);
    -fx-padding: 0;
}

.menu-bar .label {
    -fx-font-size: 15;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #2d3d51;
    -fx-padding: 5 40;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #844558;
    -fx-background-radius: 50;
    -fx-opacity: 0.5;
}