.background{
    -fx-background-color: linear-gradient(to bottom, #ba6d7c, #844558);
}

.leftMenu{
    -fx-background-color:  #14d0ad;
    -fx-background-radius: 0 40 0 0;
    -fx-effect: dropshadow(three-pass-box, rgba( 0, 0, 0, 0.5 ), 5, 0, 2, 0);
}

.leftMenu .button{
    -fx-font-family: "Bookman Old Style";
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.leftMenu .label{
    -fx-font-family: "Bookman Old Style";
    -fx-padding: 0 25;
    -fx-text-fill: #14d0ad;
    -fx-background-color: white;
    -fx-background-radius: 50;
}

.squadPane {
    -fx-background-radius: 20;
    -fx-padding: 15;
    -fx-background-color: #2d3d51;
}

.squadPane .label{
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.squadPane .button{
    -fx-background-color: transparent;
    -fx-text-fill: #14d0ad;
    -fx-cursor: hand;
}

.hBox {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.challengePane {
    -fx-background-radius: 20;
    -fx-padding: 15;
    -fx-background-color: #cacaca;
}

.challengePaneWin {
    -fx-background-radius: 20;
    -fx-padding: 15;
    -fx-background-color: lightgreen;
}

.challengePaneLose {
    -fx-background-radius: 20;
    -fx-padding: 15;
    -fx-background-color: red;
}

.goldPlayer {
    -fx-background-radius: 13;
    -fx-padding: 8;
    -fx-background-color: gold;
}

.silverPlayer {
    -fx-background-radius: 13;
    -fx-padding: 8;
    -fx-background-color: silver;
}

.bronzePlayer {
    -fx-background-radius: 13;
    -fx-padding: 8;
    -fx-background-color: #cd7f32;
}

.labelWhiteRound{
    -fx-font-size: 18;
    -fx-padding: 0 25;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 50;
}

#toFindButton{
    -fx-background-color: #2d3d51;
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-cursor: hand;
}
/*
DA sistemare
.textLabel{
    border-bottom: 1px solid black;
}
 */


